@font-face {
    font-family: 'Recursive';
    src: url('recursive.woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Symbols';
    src: local('Noto Sans Symbols Regular'), url('noto_sans_symbols.ttf');
    font-display: swap;
}

:root {
    color-scheme: dark;
}

body {
    --color-1: #fbfbfb;
    --color-2: #2c2c2c;
    --color-3: #414141;
    --color-4: #727272;
    --color-5: #b8c8fc;
    --color-6: #9bb1fc;
    --color-7: #829ef7;
    --color-8: #526ecc;

    background: url(background.png);
    overflow-y: scroll;
    margin: 0;
}

#body-container {
    color: var(--color-1);
    width: 75%;
    margin: 0 auto;
    font-family: 'Recursive', sans-serif, 'Noto Sans Symbols';
}

.box {
    background-color: var(--color-2);
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 3px solid var(--color-4);
    overflow: auto;
}

.box + .box {
    margin-top: 11px;
}

.box:last-of-type {
    margin-bottom: 10px;
}

.box h1, .box h2 {
    margin-block-start: 0;
}

.box h1 {
    margin-block-end: 10px;
}

.box h2 {
    margin-block-end: 5px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-7);
}

header, nav, footer {
    text-align: center;
}

a {
    color: var(--color-6);
}

a:hover {
    color: var(--color-8);
}

.profile {
    text-align: center;
    font-size: 1.2em;
    background-color: var(--color-3);
    float: right;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    overflow: auto;
    margin-left: 5px;
}

.profile .logo {
    border: var(--color-1) solid 3px;
    border-radius: 100%;
    width: 145px;
}

.profile .logo, .profile-info {
    margin: 5px;
}

.profile .small-icon, .profile .big-icon, .profile .icon-text {
    vertical-align: middle;
}

.profile .small-icon {
    height: 1em;
}

.profile .big-icon {
    height: 30px;
}

.profile .line {
    margin-bottom: 4px;
}

.profile .line:last-of-type {
    margin-bottom: 0;
}

.colored {
    color: var(--color-5);
}

@media screen and (max-width: 900px) {
    #body-container {
        width: 100%;
    }

    .profile {
        float: none;
        width: auto;
        padding: 7px;
    }

    .profile .logo, .profile-info {
        display: inline-block;
        vertical-align: middle;
    }

    .profile .logo {
        width: auto;
        height: 100px;
    }
}
